* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #52aff1;
}

header {
    background-color: #c425f4;
    color: #5eb6fe;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
}

.logo {
    font-size: 32px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 25px;
}

nav a {
    text-decoration: none;
    color: #270b95;
    font-weight: bold;
}

section {
    max-width: 960px;
    margin: 40px auto;
    padding: 20px;
    background-color: #d986fd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#hero {
    text-align: center;
    background-image: url('hero-image.jpg'); /* Add your hero image path here */
    background-size: cover;
    color: #020d0e;
    padding: 80px 0;
}

#hero h1 {
    font-size: 36px;
    font-weight: bold;
}

#hero p {
    font-size: 18px;
    margin-top: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0074D9;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}